body {
	background-image: url("https://thumbs.dreamstime.com/b/laptop-black-screen-isolated-black-background-laptop-black-screen-isolated-black-background-d-illustr-106598224.jpg");
	background-repeat: no-repeat;
	background-size: cover;

}



header{
	background-color: #111;
}

header nav ul{
	padding:o;
	margin:0;
	overflow: right;
	display:flex 1;
}

header nav ul li{
	list-stle:none;
	float:left;
}

header nav ul li a{
	color:white;
	padding:20px;
	float:right;
	font-size:14px;
	text-decoration: none;

}

header nav ul li a:hover{
	color:#aaa;
}

h2{
	font-weight: bold;
	font-size: 20px;
	padding-bottom: 20px;
	margin-bottom: 200px;
	margin-right:60px;
	color:white;
}

h3{
	font-weight: bold;
	font-size:20px;
	margin-bottom:30px;
	margin-right:60px;
	color:white;
}

